/* ------------------ Global Styling ------------------- */

/* --------- Fonts --------- */
h1 {
    color: blue;
}
h4 {
    padding: 0px;
    margin: 0px;
}
h5 {
    color: #ffffff;
}

h6 {
    color: #556270;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    font-weight: 700 bold;
}

p {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

/* ---------------------- Container Styling ------------------------- */

.nav-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.card {
    padding: 0px!important;
}
.card-header {
    background-color: #556270;
    color: #ffffff;
    margin: 0 auto;
    padding: 5px;
    padding-left: 20px;
}

.side-content {
    display: flex;
    flex-direction: column;
}

/* -------------------------------- User Card ----------------------------- */

.user-section {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.user-image {
    width: 40px!important;
    height: 40px!important;
    margin-right: 10px;
}

.profile-image {
    width: 80px!important;
    height: 80px!important;
    margin-right: 10px;
    background-size: cover; 
}

.profile-section {
   margin: 0 auto;
   padding: 40px;
   display: flex;
   flex-direction: column;
   text-align: center;
   color: #ffffff
}

.profile-card {
    background-color: #556270;
}
/* -------------------------------- Group Events Card ----------------------------- */
.card {
    width: 100%!important;
}

.events-section {
    padding: 10px 10px 0px 10px;
}

.event-title-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.event-date {
    border-right: 1px solid black;
    text-align: center;
    padding-right: 20px;
    margin-right: 20px;
}

.event-title h4 {
    color: #556270;
    font-size: 22px;
}

.event-title p {
    color: #7d7d7e;
}

.events-nav {
    background-color: #e0e0e0!important;
    padding: 10px;
    margin: 10px;
    height: auto!important;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.events-nav a {
    color: #556270;
}

/* ----------------- Comments Section ----------------- */
.comment-list {
    padding: 10px;
}

.comment-content {
    padding: 0px 10px 10px 10px;
    font-size: 16px;
}